<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="assets/css/index.css">
  </head>
  <body>
    <img id="city" src="assets/images/cityblue.png"/>
    <div id="start">
      <p id="title"> Welcome to Thera </p>
      <p id="desc"> Thera connects you to certified volunteers in your area
      <br>
      who are ready to answer your questions and guide
      <br>
      you through any difficult situation related to
      <br>
      violence, sexual assault, or emotional harm. </p>
    </div>
    <div id="menu">
      <p id="clogin"> Counselor Log-In </p>
    </div>
  </body>
</html>
