<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{{ css_path }}">
  </head>
  <body>
    <img id="city" src="{{ city_image_path }}"/>
    <div id="start">
      <p id="title"> Welcome to Thera </p>
      <p id="desc"> Thera connects you to certified volunteers in your area
      <br>
      who are ready to answer your questions and guide
      <br>
      you through any difficult situation related to
      <br>
      violence, sexual assault, or emotional harm. </p>
      <img id="getStarted" src="{{ getstarted_image_path }}"/>
      <p id="returningUser">Returning User?</p>
      <p id="login">Log-in</p>

    </div>
    <div id="menu">
      <p id="clogin"> Counselor Log-In </p>
      <p id="divider">|</p>
      <p id="faq">FAQ's</p>
      <img id="logo" src="{{  logo_image_path  }}"/>

    </div>
  </body>
</html>
